.main-nav{
    display: flex;
    border-bottom: 1px solid rgb(158, 158, 158);
    align-items: center;
    padding: 15px 10px;
    h2{
      margin-left: 10px;
      font-weight: 500;
      text-transform: capitalize;
    }
    a{
      &.right-link{

          margin-left: auto;
          margin-right: 20px;
      }  
      &.left-link{
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    .react-icon{
      transform: scale(1.4);
      display: block;
      color: blue;
    }
  }