@import "./../../variablesStyles.scss";

.ingredients-field {
    margin-bottom: 20px;
    input {
        display: block;
        border: none;
        border-bottom: 1px solid rgb(206, 206, 206);
        width: 100%;
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
}

.ingredients {
    margin: 35px 0;
    h3 {
        color: blue;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
}
.ingredients-button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $ackee-pink;
    font-weight: 600;
    background: white;
    border: $ackee-pink 3px solid;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    text-transform: capitalize;
    #plus {
        margin-right: 10px;
        transform: scale(1.4);
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        color: white;
        background: $ackee-pink;
    }
}
